<h2>Add a new team </h2>

<%= form_for @team do |f| %>
  <%= f.label :name %><br>
  <%= f.text_field :name %><br>
  <br>
  <%= f.label :roster_id, "Roster:"%><br>
  <%= f.collection_select :roster_id, @rosters, :id, :name_with_game, prompt: "Choose a roster"%><br>
  <br>
  <%= f.submit %>
<% end %>