<h2>Team: <%= @team.name %></h2>
<h3>Roster: <%= @team.roster.name_with_game %></h3>
<h4>Units:</h4>
<ol>
  <%= render @team.units.select(&:present?)%>
</ol>
<%= show_unselected(@team) %>
<%= link_to "Edit", edit_team_path(@team)%><br><br>

<%= link_to "Back to Teams", teams_path%>