<h2> <%= @roster.name %> roster</h2>
<h4> <%= @roster.description %></h4>
<%= link_to "Edit", edit_roster_path(@roster) %>
<br>
<p>This roster has <%= pluralize(@roster.units.count, 'unit')%>.</p>
<ol>
  <% @roster.roster_memberships.each do |roster_membership| %>
    <li>
      <%= roster_membership.unit.name %><br>
      Appeared <%= pluralize(roster_membership.appearances, "time") %>
    </li>
  <% end %>
</ol>
<%= unit_path(@roster) %>
<br>
<br>
<%= link_to "Delete this Roster",
            roster_path(@roster),
            method: "DELETE",
            data: {confirm: "Are you sure?"} %><br>
<%= link_to "Back to Listing", rosters_path %>