<h2> <%= @roster.name %> roster for <%= @roster.game.name %></h2>
<h4> <%= @roster.description %></h4>
<%= link_to "Edit", edit_roster_path(@roster) %>
<br>
<p>This roster has <%= pluralize(@roster.units.count, 'unit')%>.</p>
<ol>
  <% @roster.units.count do |unit| %>
    <li><%= unit.name %></li>
  <% end %>
</ol>
<%= unit_path(@roster) %>
<br>
<br>
<%= link_to "Delete this Roster",
            roster_path(@roster),
            method: "DELETE",
            data: {confirm: "Are you sure?"} %><br>
<%= link_to "Back to Game", @roster.game %>