<h2><%= @game.name %></h2>
<%= link_to "Edit", edit_game_path(@game)%> |
<%= link_to "Back to listing", games_path %>
<br>
<ol>
  <% @rosters.each do |roster| %>
    <li>
      <%= link_to roster.name, roster_path(roster)%><br>
      <%= link_to "Copy", copy_roster_path(roster) %>
    </li>
  <% end %>
</ol>
<%= link_to "New Roster", new_game_roster_path(@game)%>
<br>
<%= link_to "Delete me?", game_path(@game), method: "DELETE", data: {confirm: "Are you sure?"} %>
<br>