<!DOCTYPE html>
<html>
  <head>
    <title>TeamBuilder</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <%= link_to "Home", root_path %>
      <%= link_to "My Teams", teams_path if logged_in? %>
      <%= link_to "Games", games_path if logged_in? && admin? %>
    </nav>
    <%= yield %>
  </body>
</html>
